
# GPIO
CONFIG_GPIO=y

# I2C for BME688 sensor
CONFIG_I2C=y
CONFIG_SENSOR=y
CONFIG_BME680=y

# SPI for ST7789 display
#CONFIG_SPI=y # this breaks the build
CONFIG_NRFX_SPIM1=y

# PWM for display backlight
CONFIG_PWM=y
